//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        period_colon: period_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_COLON";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        tab_esc: tab_esc {
            compatible = "zmk,behavior-mod-morph";
            label = "TAB_ESC";
            bindings = <&kp TAB>, <&kp ESCAPE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        space_backspace: space_backspace {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_BACKSPACE";
            bindings = <&kp SPACE>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Letters {
            bindings = <
         &kp J      &kp U      &kp O      &kp F           &kp X      &kp P   &kp C      &kp L    &kp M  &kp V
         &kp I      &kp E      &kp A      &kp N           &kp DOT    &kp Y   &kp D      &kp R    &kp T  &kp S
&kp TAB  &kp COMMA  &kp MINUS  &kp SQT    &kp H           &kp B      &kp W   &kp G      &kp Q    &kp K  &kp Z  &kp LGUI
                               &kp LCTRL  &kp LEFT_SHIFT  &mo 1      &trans  &kp SPACE  &kp RET
            >;
        };

        Commands_Numbers {
            bindings = <
        &kp LC(N)  &kp LC(R)  &kp LA(LEFT)   &kp LA(RIGHT)  &kp LC(F1)       &kp MINUS   &kp N1        &kp N2       &kp N3  &kp DOT
        &kp LC(T)  &kp LC(W)  &kp LC(PG_UP)  &kp LC(PG_DN)  &kp LC(LS(T))    &kp PLUS    &kp N4        &kp N5       &kp N6  &kp DOT
&trans  &kp LC(A)  &kp LC(C)  &kp LC(X)      &kp LC(V)      &kp LC(Z)        &kp EQUAL   &kp N7        &kp N8       &kp N9  &kp FSLH  &trans
                              &trans         &kp BACKSPACE  &trans           &kp DOLLAR  &kp NUMBER_0  &kp PERCENT
            >;
        };
    };
};
